body {

    background-color: #f0f0f0;
}
p{
    margin: 0;
}

.content {
    background-color: transparent;
    color: #000;
}
.right,.left{
    background-color: #fff;
}
.row>*{
    padding: 0;
}
.left{
    padding: 2rem;
}
.nav-item{
    padding: 2rem 2rem;
    cursor: pointer;
    color: #000;
}
.nav-item:hover{
    background-color: #efe8e8;
}
.title-profile{
    border-bottom: 2px solid #efe8e8;
    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 0rem;
}
form{
    margin-top: 2rem;
}
form .form-control,form .form-select{
    font-size: 2rem;
}
.btn{
    font-size: 2rem;

}