/* footer */
.my-5 {
    margin: 0 !important;
    margin: 0 !important;
    bottom: 0;
    position: relative;
    right: 0;
    left: 0;

}

footer {
    background-color: #101010;
}

footer a {
    transition: color ease-out 0.3s;
}

footer a:hover {
    color: #2997ff !important;
}