.wrapper-pdf {
    width: 100%;
    margin: 0 auto;
    border: 1px solid gray;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DejaVu Sans', sans-serif !important;
    /* max-height: 30vh; */
}

.wrapper-pdf>* {
    font-family: 'DejaVu Sans', sans-serif !important;

}

.header-pdf {
    background-color: #96588a;
    color: #fff;
    padding: 30px 40px;
}

.container-pdf {
    width: 90%;
    margin: 50px auto;
    background-color: #fff;
}

.container-pdf .text-title {
    color: #96588a;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.container-pdf table {
    margin-top: 20px;
}

.wrapper-pdf {
    color: #000;
}

.wrapper-pdf a {
    color: #96588a;

}